<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<script
  src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
  data-preference-id={{ token }}>
</script>
</body>
</html>